h1 {
    text-align: center;
}

html {
    background-color: burlywood;
}

.library {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    flex-wrap: wrap;
}

.card {
    background-color: rgba(255,255,255,.9);
    border-radius: 25px;
    min-height: 100px;
    padding: 20px;
    min-width: 80px;
    max-width: 100px;
}

#new-book {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.new-book-pane {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: cornsilk;
    border: 1px black dashed;
    padding: 10px;
}

.new-book-pane-button-row, .new-book-field {
    display: flex;
    justify-content: space-between;
    margin: 8px;
 
}


input {
    min-width: 80px;
}